<%include partial/header %>

<h5><%= title %></h5>
<h1>Add Customer</h1>

<%  if(errors){  %>
     <%  errors.forEach((error) => {  %>
         <li> <%= error.msg  %> </li>
   <%  });  %>
<% } %>

<form method='POST' action = '/users/add'> 
<label>First Name</label>
<br>
<input type = 'text' name = 'firstName'>
<br>
<label>Last Name</label>
<br>
<input type = 'text' name = 'lastName'>
<br>
<label>E-mail</label>
<br>
<input type = 'text' name = 'email'>
<br>
<input type = 'submit' value = 'Submit'>

</form>


<h5><% users.forEach(function(item){ %>
	<li><%= item.firstName  %>
	<%= item.lastName %>
	<br>
	<%= item.email %> - <a href='#' 
	class='deleteUser' data-id='<%=users._id%>'>Delete</a></li>
<% }) %>

</h5>
<%include partial/footer %>